<!DOCTYPE html>
<html>
<head>
  <title><%=@title %></title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'site' %>
</head>
<body>
	<div id='whole_page'>
		<div id='header'>RailsSpace</div>
		<div id="nav">
			<span style="float:right">
				<% if logged_in? %>
					<%= nav_link "Hub","user","index" %> |
					<%= nav_link "Logout","user" %> |
					<% #= session[:user_id] 
					%>
				<% else %>
					<%= nav_link "Register","user" %> |
					<%= nav_link "Login","user" %>
				<% end %>
			</span>
			
			<%= nav_link 'Home',"site","index" %> |
			<%= nav_link 'About Us',"site","about" %> |
			<%= nav_link 'Help',"site" %> 
		</div>
		<div id="content">
			<% if flash[:notice] -%>
				<div id="notice"><%= flash[:notice] %></div>
			<% end -%>
			<%= yield %>
		</div>
		
		<%	if ENV["RAILS_ENV"] == "development" %>
			<div id="debug">
				<a href="#" onclick="$('.debug_info').toggle();return false;">params</a>
				<a href="#" onclick="$('.debug_info').toggle();return false;">session</a>
				<a href="#" onclick="$('.debug_info').toggle();return false;">env</a>
				<a href="#" onclick="$('.debug_info').toggle();return false;">request</a>
				
				<fieldset id="params_debug_info" class="debug_info" style="display:none">
					<legend>params info</legend>
					<%= debug(params) %>
				</fieldset>
				
				<fieldset id="session_debug_info" class="debug_info" style="display:none;">
					<legend>session info</legend>
					<%= debug(session) %>
				</fieldset>
				
				<fieldset id="env_debug_info" class="debug_info" style="display:none;">
					<legend>env info</legend>
					<%= debug(ENV) %>
				</fieldset>
				
				<fieldset id="request_debug_info" class="debug_info" style="display:none;">
					<legend>request info</legend>
					<%= debug(request) %>
				</fieldset>
			</div>
		<% end %>
	</div>
</body>
</html>
